/* Importing font */
@font-face {
  font-family: "PP Neue Montreal Mono", monospace;
  src: url(/assets/PPNeueMontrealMono-Regular.woff2);
}

/* Declaring Variables */
body {
  --accent-color: #1a1a1a;
  --primary-color: #fffdf8;
  font-family: "PP Neue Montreal Mono", monospace;
  font-size: 14px;
}


/* header */
header {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.header-navigaton {
  position: fixed;
  z-index: 2;
  padding: 10px;
}

.nav-link {
  color: var(--primary-color) !important;
}


/* main */
/* hero section */

main {
  background-color: var(--primary-color);
}

.hero-img {
  background-image: url(/assets/read_read_read_desktop.png);
  padding-top: calc(62.5 / 100 * 100%);
  background-size: cover;
  background-position: center;
}


/* second section */

.sub-img-container {
  max-width: 603px;
}


.sub-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.horizontal-line {
  border-bottom: 1px solid var(--accent-color);
}

/* third section */

.third-img-container {
  max-width: 603px;
}

.third-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}


/* fourth section */

.fourth-img-container {
  max-width: 603px;
}

.fourth-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}


/* fifth section beyond the canon */
.fifth-img {
  background-image: url(/assets/byd_the_canon.png);
  padding-top: calc(854 / 1280 * 100%);
  background-size: cover;
  background-position: center;
}

/* sixth section the debate */
.six-img-container {
  max-width: 603px;
}


.six-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

/* last section */

.bottom-txt-wrapper div p a {
  color: var(--accent-color);
  text-decoration: none;
}
/* making things responsible */

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .second-images-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}



.title-info-box {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* footer */

footer {
  color: var(--primary-color);
  background-color: var(--accent-color);
}