/* Importing font */
@font-face {
  font-family: "PP Neue Montreal Mono", monospace;
  src: url(/assets/PPNeueMontrealMono-Regular.woff2);
}

/* Declaring Variables */
body {
  --accent-color: #1a1a1a;
  --primary-color: #fffdf8;
  font-family: "PP Neue Montreal Mono", monospace;
  font-size: 14px;
}


/* header */
header {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.header-navigaton {
  position: fixed;
  z-index: 2;
  padding: 10px;
}

.nav-link {
  color: var(--primary-color) !important;
}


/* main */
/* hero section */

main {
  background-color: var(--primary-color);
}

.hero-img {
  background-image: url(/assets/read_read_read_desktop.png);
  padding-top: calc(62.5 / 100 * 100%);
  background-size: cover;
  background-position: center;
}


/* second section */

.sub-hero-img-1{
  background-image: url(/assets/read_front.png);
  padding-top: calc(8.27 / 11.69 * 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 760px;
  aspect-ratio: 1 / 1.4;
}

.sub-hero-img-2 {
  background-image: url(/assets/read_back.png);
  padding-top: calc(8.27 / 11.69 * 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 760px;
  aspect-ratio: 1 / 1.4;
}

/* third section */

.third-img {
  background-image: url(/assets/alt_poster.png);
  padding-top: calc(8.27 / 11.69 * 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 760px;
  aspect-ratio: 1 / 1.4;
}


/* fourth section */
.fourth-img {
  background-image: url(/assets/ws_poster.png);
  padding-top: calc(8.27 / 11.69 * 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 760px;
  aspect-ratio: 1 / 1.4;
}

/* making things responsible */

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .second-images-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

}



.title-info-box {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

/* footer */

footer {
  color: var(--primary-color);
  background-color: var(--accent-color);
}