/*general setting*/

* {
    box-sizing: border-box;
    /* 
    Border-box tells the browser to account for any border and padding in the values I specify for an element's width and height. 
    So setting the border-box is guaranteeing that the element size includes borders and padding.
    */
    margin: 0;
}

@font-face {
    font-family: "neue-haas-grotesk-display", sans-serif;
}

html {
    font-size: 16px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    line-height: 1.2;
}

header {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

h1 {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;    
}

nav {
    display: flex;
    gap: 1rem;
    /*
    The gap CSS shorthand property sets the gaps (gutters) between rows and columns.
    */
}

nav a {
    color: black;
    text-underline-offset: 2px;
    /* The text-underline-offset property in CSS sets the distance of text underlines from their initial position.*/
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

section {
    display:grid;
    grid-template-columns: 4fr 5fr 2fr 0fr 0fr 0fr;
    gap: 0;
    width: 100%;
    padding: 1rem 0.5rem;
    cursor: e-resize;
    transition: grid-template-columns 0.4s;
}

section div {
    overflow: hidden;
    /* hide anything that would usually go outside of the space */
    opacity: 1;
    transition: opacity 0.4s;
}

section div.hide {
    opacity: 0;
}

img {
    max-width: 100%;
    aspect-ratio: 4 /  5;
    object-fit: cover;
    /*
    The CSS object-fit property is used to specify how an <img> or <video> should be resized to fit its container.
    */
}

figure {
    width: 100%;
    padding: 0 0.5rem;
}

figcaption {
    max-width: 10rem;
    margin: 0.25rem 0 0 0;
}