.collection {
  background-image: url(https://picsum.photos/500/500);
  /* image from https://picsum.photos/, random photos are genereted each time */
  padding-top: calc(4.5/4 * 100%);
  /* portrait aspect ratio */
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .collection {
    padding-top: calc(2 / 3.5 * 100%);
    /* change to landscape aspect ratio on md breakpoint and up */
  }
}


.inner {
  /* overlay the inner <div> exactly on top of its parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner h4 {
  /* copying behavior of official site */
  max-width: 200px;
}



.experience-filter .nav-item {
  flex-shrink: 0;
}

.experience-filter .nav-item a {
  font-size: 0.9rem;
}